
<div id="loginForm">
  <form>
    <div class="form-row">
      
      <div class="form-group col-md-6">
        <label for="inputUserName">UserName</label>
        <input type="text" class="form-control" id="inputUserName" placeholder="UserName" [(ngModel)]="usernameInput" name="username">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password" [(ngModel)]="passwordInput" name="password">
      </div>
    </div>

    <button type="submit" class="btn btn-info" (click)="logIn()">LogIn</button>
  </form>
</div>