
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #043457;">
  <a class="navbar-brand" href="#">StockYourself</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="btn btn-outline-info nav-link" href="#" role="button" style="margin: 2px;">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-info nav-link" href="#" role="button" style="margin: 2px;">Stocks</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-info nav-link" href="#" role="button" style="margin: 2px;">Posts</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-info nav-link disabled" href="#" role="button" tabindex="-1" aria-disabled="true" style="margin: 2px;">Portfolio</a>
      </li>
    </ul>
  </div>
</nav>
   


<!-- <ng-container *ngIf="showLogin">
    <app-login (login)="setup()"></app-login>
</ng-container> -->